@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #30344c;
  --text-light: #94a3b8;
  --white: #ffffff;
  /* --primary-color: #ffffff;
  --text-light: #94a3b8;
  --white: #1e293b; */
}

.light-theme{
  --primary-color: #ffffff;
  --text-light: #94a3b8;
  --white: #1e293b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("assets/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

#mode_icon{
  width: 1.25rem;
  cursor: pointer;
  box-shadow: none;
  user-select: none;
}

.card {
  width: 350px;
  padding: 2rem 1rem;
  border-radius: 15px;
  text-align: center;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
  background-color: var(--primary-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header span {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.header span i {
  font-size: 1.25rem;
  color: var(--white);
  cursor: pointer;
  user-select:none;
}

.card img {
  max-width: 100px;
  margin: 1rem;
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.name {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--white);
}

.designation {
  font-size: 0.9rem;
  color: var(--text-light);
  margin-bottom: 1rem;
}

.about {
  max-width: 250px;
  margin: auto;
  font-size: 0.9rem;
  color: var(--white);
  margin-bottom: 2rem;
}

button {
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  font-size: 0.8rem;  
  font-weight: 500;
  background-image: linear-gradient(to right, #7d62d4, #eb54ac);
  color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button:hover{
  transform: scale(1.15);
}

.social__icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.icon__card a{
  text-decoration: none;
}

.icon__card {
  text-align: center;
}

.icon {
  margin: 0.5rem auto;
  height: 50px;
  width: 50px;
  display: grid;
  place-content: center;
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  cursor:pointer;
}

.icon__card:nth-child(1) .icon {
  background-image: linear-gradient(to right, #b1237a, #dc4185);
}

.icon__card:nth-child(2) .icon {
  background-image: linear-gradient(to right, #0764fe, #34b1f9);
}

.icon__card:nth-child(3) .icon {
  background-image: linear-gradient(to right, #d7a210, #f1096e);
}

.icon i {
  font-size: 2rem;
  color: white;
}


/* .dark :is(.header span i, .name, .about, .icon__card ) {
  color: var(--white);
} */

.dark :is(.card img, .card button, .icon) {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.866);
}
